<div>
    <p></p>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Spring Book Store</li>
            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
        </ol>
    </nav>
    <p></p>
    <span ng-if="cart.items.length == 0">Ваша корзина пуста</span>
    <table class="table table-hover" cellpadding="0" cellspacing="0" ng-if="cart.items.length > 0">
        <tr>
            <td>Название</td>
            <td>Жанр</td>
            <td>Автор</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="oi in cart.items">
            <td>{{oi.bookTitle}}</td>
            <td>{{oi.genreTitle}}</td>
            <td>{{oi.authorName}}</td>
            <td>
                <button class="btn btn-success" ng-click="decrementItem(oi.bookId)">-</button>
                {{oi.quantity}}
                <button class="btn btn-success" ng-click="incrementItem(oi.bookId)">+</button>
                <button class="btn btn-danger" ng-click="removeItem(oi.bookId)">X</button>
            </td>
            <td>{{oi.pricePerItem + ' * ' + oi.quantity + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{cart.sum}}</td>
        </tr>
        </tbody>
    </table>
    <div ng-show="cart.items.length > 0 && !isUserLoggedIn()" class="alert alert-warning" role="alert">
        Для оформления заказа Вам необходимо войти в свою учетную запись
    </div>
    <button class="btn btn-primary" ng-show="cart.items.length > 0 && isUserLoggedIn()" ng-click="goToOrderSubmit()">Оформление заказа</button>
</div>