<div>
    <p></p>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Spring Book Store</li>
            <li class="breadcrumb-item active" aria-current="page">Подтверждение заказа</li>
        </ol>
    </nav>
    <p></p>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Жанр</td>
            <td>Автор</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="oi in cart.items">
            <td>{{oi.bookTitle}}</td>
            <td>{{oi.genreTitle}}</td>
            <td>{{oi.authorName}}</td>
            <td>{{oi.quantity}}</td>
            <td>{{oi.pricePerItem + ' * ' + oi.quantity + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{cart.sum}}</td>
        </tr>
        </tbody>
    </table>

    <form novalidate ng-submit="submitOrder()">
        <div class="form-group col-md-6">
            <label for="filterTitle">Адрес доставки</label>
            <input class="form-control" type="text" ng-model="order_info.address" id="filterTitle">
        </div>
        <p></p>
        <div>
            <button class="btn btn-success" type="submit">Оформить заказ</button>
        </div>
    </form>
</div>